html
    head
        link(rel="stylesheet" href="css/main.css")
    body
        header
            .wrapper
                section.slogan
                    h1.slogan__header
                        | Welcome in ColonyCenter.
                    p.slogan__text
                        | Here you can create and manage your colony to make your life better.
                    .actions
                        a(href="/login").btn.btn--primary Log in
                        a(href="/register").btn.btn--shadow Register
        
