html
    head
        link(rel="stylesheet" href="/css/main.css")
    body
        header
            nav.app-nav
                    ul.app-nav__list
                        li.app-nav__list-item
                            a.app-nav__link(href="/participantHome") home
                        li.app-nav__list-item
                            a.app-nav__link(href="/participantHome/applications") applications
                        li.app-nav__list-item
                            a.app-nav__link.app-nav__link--is-active(href="/participantHome/myColony")  my colony
            .wrapperAdmin
                | Your applications .
